[flake8]
max-line-length = 500
# Важно: для совместимости с Black необходимо игнорировать E203 и W503:
# - E203 конфликтует со стилем срезов в Black
# - W503 противоположен принятой в Black конвенции переносов
extend-ignore = W503, W291, W293, E203, E301, E302, E303, E304, E305, E306, E501, E202, E231, E261, E741, W391
# Проверяем только исходники и тесты
exclude = .git
per-file-ignores =
    # Тестам обычно допускаются конструкции assert и более гибкие стили
    # (раскомментируйте при необходимости дополнительные исключения)
    # tests/*: S101
